body {
  background-color: rgba(192, 192, 231, 0.575);
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.image {
  width: 30%;
  margin-top: 15px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
